/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .group-grid {
        grid-template-columns: 72px 96px 96px auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .group-grid {
        grid-template-columns: 72px 96px 72px 96px auto 48px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .group-grid {
        grid-template-columns: 72px 96px 124px auto 48px;
    }
}

/* Large devices (laptops/desktops, 960px and up) */
@media only screen and (min-width: 960px) {
    .group-grid {
        grid-template-columns: 48px 168px auto 196px 168px 96px 96px;
    }
}

/* Extra large devices (large laptops and desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {
    .group-grid {
        grid-template-columns: 96px 248px auto 96px 196px 96px 96px;
    }
}

/* Extra large devices (large laptops and desktops, 1520px and up) */
@media only screen and (min-width: 1520px) {
    .group-grid {
        grid-template-columns: 96px 248px auto 212px 168px 168px 112px;
    }
}

/* Extra large devices (large laptops and desktops, 1680px and up) */
@media only screen and (min-width: 1660px) {
    .group-grid {
        grid-template-columns: 96px 268px auto 268px 168px 168px 168px;
    }
}

.mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}

.wheel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wheel {
    margin: 20px 0;
}

.wheel {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #333;
    position: relative;
    overflow: hidden;
}

.wheel .segment {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #f4a142;
    transform-origin: 100% 100%;
    border: 3px solid #333;
}

/* .segment:nth-child(1) {
    transform: rotate(0deg) translateX(50%) rotate(60deg);
}

.segment:nth-child(2) {
    transform: rotate(60deg) translateX(50%) rotate(60deg);
}

.segment:nth-child(3) {
    transform: rotate(120deg) translateX(50%) rotate(60deg);
}

.segment:nth-child(4) {
    transform: rotate(180deg) translateX(50%) rotate(60deg);
}

.segment:nth-child(5) {
    transform: rotate(240deg) translateX(50%) rotate(60deg);
}

.segment:nth-child(6) {
    transform: rotate(300deg) translateX(50%) rotate(60deg);
} */

.spin {
    transition: transform 5s ease-out;
}

.pointer {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    transform: translate(-50%, -100%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid red;
}