<div class="flex flex-col flex-auto -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 shadow">
        <span class="font-semibold text-lg">
            Tournament
        </span>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <div class="flex flex-col flex-auto items-center sm:items-start p-8 pb-6 sm:pb-8 max-h-192 overflow-y-scroll">

        <div class="w-full rounded-lg">
            <img class="w-full max-h-80 object-cover" [src]="tournament.thumbnailUrl" alt="Card cover image">
        </div>
        <div class="flex flex-col flex-auto mt-4 w-full">
            <div class="text-2xl font-semibold leading-tight">
                <span [innerHTML]="tournament.startTime | tournamentStatus:tournament.endTime"></span>
                {{ tournament.title }}
            </div>
            <div class="mt-6">
                <div class="flex flex-wrap items-center text-secondary my-1">
                    <span>{{ tournament.description }}</span>
                </div>
                <div class="flex flex-wrap items-center text-secondary my-1">
                    <span>{{ tournament.rule }}</span>
                </div>
                <div class="grid grid-cols-2">
                    <div>
                        <div class="flex flex-wrap items-center text-secondary my-1">
                            <span>Distance: <span class="font-bold">{{ tournament.distance }}</span> km</span>
                        </div>
                        <div class="flex items-center text-secondary my-1">
                            <span>Registration deadline: <span class="font-bold">{{ tournament.registerDuration |
                                    date:'dd-MM-YYYY' }}</span></span>
                        </div>
                        <div class="flex flex-wrap items-center text-secondary my-1">
                            <span>Start date: <span class="font-bold">{{ tournament.startTime | date:'dd-MM-YYYY'
                                    }}</span></span>
                        </div>
                        <div class="flex flex-wrap items-center text-secondary my-1">
                            <span>End date: <span class="font-bold">{{ tournament.endTime | date:'dd-MM-YYYY'
                                    }}</span></span>
                        </div>
                    </div>
                    <div>
                        <div class="flex flex-wrap items-center text-secondary my-1">
                            <span>Min Age: <span class="font-bold"> {{ tournament.minAge }}</span></span>
                        </div>
                        <div class="flex items-center text-secondary my-1">
                            <span>Max Age: <span class="font-bold">{{ tournament.maxAge }}</span></span>
                        </div>
                        <div class="flex flex-wrap items-center text-secondary my-1">
                            <span>Gender: <span class="font-bold">{{ tournament.gender }}</span></span>
                        </div>
                        <div class="flex flex-wrap items-center text-secondary my-1">
                            <span (click)="openUserTournamentDialog()">Participants: <span
                                    class="text-blue-700 cursor-pointer underline">View
                                    Participants</span> </span>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="flex items-center text-secondary my-1">
                        <span>Address detail: <span class="font-bold">{{ tournament.address }}</span></span>
                    </div>
                </div>
                <google-map height="300px" width="100%" [zoom]="zoom" [center]="center" [options]="options">
                    <map-marker [position]="marker.position" [label]="marker.label" [options]="marker.options">
                    </map-marker>
                </google-map>
            </div>
        </div>
    </div>